
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
   

}
/* nav Starts */
.Container1 {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #ffffff;
    background: #232f3e;
    display: flex;
    justify-content: space-between; 
    
}
body{
    background-color: hotpink;
    width: 100%;
    height: 100%;
    
}
.nav-country {
   
     display: flex;
     align-items: end;
     margin-left: 15px;
     font-size: 13px;
     color: #c4c4c4;

}
.nav-country i{
    position: relative;
    right: 3px;
    bottom: 10px;
}
.nav-country h1 {
    color: #ffffff;
    font-size: 14px;
}
.nav-search {
    flex: 1;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: gray;
    max-width: 1000px;
    margin: 15px;
}
.nav-search-categer {
   
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
    background: #d9d4d4;
    border-radius: 5px 0 0 5px;
}
.nav-search-input {
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
}
#nav-search-icon {
    max-width: 41px;
    padding: 12px;
    background: rgb(190, 172, 54);
    border-radius: 0 4px 4px 0;
}
.nav-language {
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 600;
    margin-left: 15px;
}
.nav-text {
    margin-left: 15px;
    

}
.nav-text p{
    font-size: 12px;
}
.nav-text h1{
    font-size: 15px;
}
.nav-text i{
    position: relative;
    left: 1.8px;
}
.nav-order-return {
    position: relative;
    left: 15px;
}
.nav-order-return p {
    font-size: 12px;
}
.nav-order-return h1 {
    font-size: 15px;
}
.nav-cart {
    display: flex;
    align-items: center;
    margin: 0px 15px;
    position: relative;
    left: 10px;
    font-size: larger;
    justify-content: space-between;
    gap: 5px;
}
.nav-cart h4{
    color: aliceblue;
}
/* nav ends */

/* nav bottom starst */
.nav-bottom {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #303e4e;
    color: #fff;
    font-size: 13px;
    padding: 8px 20px;
}.nav-bottom div {
    display: flex;
    align-items: center;
    gap: 5px; 
    font-weight: 500;
}
.elctronics p{
    justify-content: space-evenly;
    margin-left: 650px;
    font-size: 14px;

}
/* nav bottom ends */

/* hero section starts */
.hero-section {
    height: 300px;
    width: 100%;
    background-size: 100% 300px;
    background-image: url(images/slider1.jpeg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: end;
}
.hero-msg {
    width: 80%;
    height: 30px;
    color: black;
    background-color: rgb(230, 228, 226);
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    
}
.hero-msg a {
    color: #007185;
}
/* hero section ends */


/* Shope section starts*/
.shop-section {
   
    display: flex;
   flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #f9f9f9
}
.box {
    /* border: 2px solid black; */
    background-color: rgb(208, 217, 224);
    height: 400px;
    width: 23%;
    padding: 10px;
    justify-content: space-between;
    margin-top: 15px;
   
    
}
.box-images1 {
    width: 100%;
    height: 300px;
    display: flex;
    background-image:url(images/fridge.jpg);
    background-repeat: no-repeat;
    background-size: 100% 300px;
    margin-top: 10px;
   

}
.box-images2 {
    width: 100%;
    height: 300px;
    display: flex;
    background-image:url(https://m.media-amazon.com/images/I/81I4nkIvhfL._SY450_.jpg);
    background-repeat: no-repeat;
    background-size: 100% 300px;
    margin-top: 10px;

}

.box-images4 {
    width: 100%;
    height: 300px;
    display: flex;
    background-image:url(https://m.media-amazon.com/images/I/51zPqa+ZnTL.AC_SX250.jpg);
    background-repeat: no-repeat;
    background-size: 100% 300px;
    margin-top: 10px;
}
.box-images3{
    width: 100%;
    height: 300px;
    display: flex;
    background-image:url(https://m.media-amazon.com/images/I/71d7rfSl0wL._SL1500_.jpg);
    background-repeat: no-repeat;
    background-size: 100% 300px;
    margin-top: 10px;
}
.box-images5 {
    width: 100%;
    height: 300px;
    display: flex;
    background-image:url(https://m.media-amazon.com/images/I/81pCmFN8gaL._SX522_.jpg);
    background-repeat: no-repeat;
    background-size: 100% 300px;
    margin-top: 10px;
}
.box-images6{
    width: 100%;
    height: 300px;
    display: flex;
    background-image:url(https://m.media-amazon.com/images/I/81R6YbNKOzL._SY500_.jpg);
    background-repeat: no-repeat;
    background-size: 100% 300px;
    margin-top: 10px;
}
.box-images7{
    width: 100%;
    height: 300px;
    display: flex;
    background-image:url(https://m.media-amazon.com/images/I/61F5SXdi9jL._SY355_.jpg);
    background-repeat: no-repeat;
    background-size: 100% 300px;
    margin-top: 10px;
}
.box-images8    {
    width: 100%;
    height: 300px;
    display: flex;
    background-image:url(https://m.media-amazon.com/images/I/71oLyiFeseL._SY355_.jpg);
    background-repeat: no-repeat;
    background-size: 100% 300px;
    margin-top: 10px;
    justify-content: space-between;
}
.box-content {
    margin-left: 10px;
    margin-right: 10px;
   
    align-items: center;
    justify-content: center;
    
}
.box-content p {
    margin-top: 10px;
    text-decoration: underline none;
    color: black;
}
.box-content h2 {
    margin-left: 10px;
}
